In [1]:
#Tupel
#A tuple is a collection which is ordered and unchangeable
mytuple = ("apple", "banana", "cherry")
#Allow duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [2]:
#length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [3]:
#One item tuple, remember the comma
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [46]:
#Tuple items can be of any data type
tuple1 = ("apple", "banana", "cherry")
print(type(tuple1))
tuple2 = (1, 5, 7, 9, 3)
print(type(tuple2))
tuple3 = (True, False, False)
print(type(tuple3))
#What is the data type of a tuple
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [6]:
#the tuple() constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [7]:
#Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [8]:
#Negative indexing means start from the end.

#-1 refers to the last item, -2 refers to the second last item etc.
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [9]:
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [53]:
#to determine if a specified item is present in a tuple use the in keyword
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("yes, 'apple' is in the fruits tuple")

yes, 'apple' is in the fruits tuple

In [11]:
#convert the tuple into a list to be able to change it
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [13]:
#convert the tuple into a list, add "orange", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [14]:
#create a new tuple with the value "orange", and add that tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [15]:
#convert the tuple into a list, remove "apple" and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [16]:
# the del keyword can delete the tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)  #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [ ]:
#unpacking a tuple, allowed to extract the values back into variables
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [18]:
#if the number of variables is less than the number of values
#you can add an  * to the variable name and the values will be assigned to the variable as a list
fruits = ("apple", "banana", "cherry","strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [19]:
#If the asterisk is added to another variable name than the last, Python will assign values to the variable
#until the number of values left matches the number of variables left.
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [20]:
#Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [21]:
#Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [22]:
#while loop 
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [23]:
#tuple join
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [24]:
#multiple Tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [25]:
#Sets are used to store multiple items in a single variable.
#A set is a collection which is unordered, unchangeable*, and unindexed.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [26]:
#Duplicate values will be ignored
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [54]:
#True and 1 is considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'apple', 2, 'cherry', 'banana'}

In [28]:
#False and 0 is considered the same value
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

In [29]:
#Get the number of items in a set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [31]:
#String, int and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [33]:
#A set with strings, int and boolean values
set1 = {"abc", 34, True, 40, "male"}

In [34]:
#From Python's perspective, sets are defined as objects with the data type 'set'
#<class 'set'>
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [35]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [36]:
#You cannot access items in a set by referring to an index or a key
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [37]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

print("banana" not in thisset)

True
False

In [38]:
#Add an item to a set, using the add() method
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [39]:
#To add items from another set into the current set, use the update() method
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'papaya', 'cherry', 'banana', 'pineapple'}

In [40]:
#The object in the update() method does not have to be a set, it can be any iterable object
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'banana', 'orange', 'kiwi'}

In [55]:
#Remove "banana" by using the remove() method
# If the item to remove does not exist, remove() will raise an error
thisset = {"apple", "banana", "cherry"}

# thisset.remove("banana")
thisset.remove()
print(thisset)

TypeError: set.remove() takes exactly one argument (0 given)

In [59]:
#if the item to remove does not exist, discard() will NOT raise an error
thisset = {"apple", "banana", "cherry"}
# thisset.discard("banana")

print(thisset)

{'apple', 'banana', 'cherry'}

In [43]:
#remove a random item by using the pop() method
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [44]:
#the clear() method empties the set
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [45]:
#the del keyword will delete the set completely
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined